header.profile {
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background-color: rgba(164, 143, 65, 0.7);
  background-image: url("../images/cubes.png");
}

#avatar {
  display: block;
  margin: 0 auto;
}

header.profile h2 {
  text-align: center;
}