header {
  height: 400px;
  width: 100%;
  position: relative;
  top: 120px;
  background-color: rgba(90, 83, 106, 0.5);
  background-image: url("../images/cubes.png");
}

header img {
  display: block;
  margin: 0 auto;
}

header h2 {
  text-align: center;
}