/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

$font-body: 'Source Sans Pro', sans-serif;

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: $font-body;
}

.container {
  width: 90%;
  margin: 0 auto;
}