/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {

  header.profile {
    height: 400px;
    position: relative;
    top: 120px;
    float: left;
    width: 25%;
    margin-left: 5%;
    margin-top: 5%;
    padding-top: 15px;
  }

  .container {
    float: right;
    width: 55%;
    margin-right: 5%;
    margin-top: 12%;
  }
}