nav {
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 99999;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

nav #logo {
  font-family: 'Bungee', cursive;
}

nav .compose {
  position: absolute;
  right: 1.5em;
}

.hide {
  display: none;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}