#feed {
  margin-top: 40px;
}

article.tweet {
  border: solid #545149 3px;
  padding: 10px;
  height: 210px;
  margin-bottom: 20px;
}

article.tweet:hover {
  box-shadow: 8px 8px #C5CBE3;
}
article.tweet:hover a.handle {
  display: inline;
}

/* TWEET HEADER */
article.tweet header {
  height: 60px;
}

article.tweet img {
  height: 60px;
}

article.tweet h3 {
  display: inline-block;
  position: relative;
  top: -20px;
  font-weight: 100;
  font-size: 24px;
}

article.tweet a.handle {
  display: none;
  float: right;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
  padding-right: 15px;
  color: #C5CBE3;
}

/* TWEET TEXT */
article.tweet p.tweet-text {
  padding: 0 0 25px 10px;
  border-bottom: solid #545149 3px;
}

/* TWEET FOOTER */
article.tweet footer p {
  font-size: 13px;
  font-weight: 600;
  position: relative;
  left: 15px;
  bottom: 10px;
}

article.tweet footer p.icons {
  float: right;
  position: relative;
  bottom: 55px;
  left: -20px;
}