#feed {
  margin-top: 40px;
}

article.tweet {
  border: solid #545149 3px;
}

article.tweet header {
  height: 90px;
}

article.tweet img {
  height: 90px;
}

article.tweet h3 {
  display: inline-block;
  position: relative;
  top: -34px;
}

article.tweet a {
  float: right;
  line-height: 90px;
}